<button><a href="/">Log Out</a></button>

<h2>Welcome Back, <%= session[:first_name] %> !</h2>
<button> View Your Contacts </button>


<h4>All Contacts: </h4>
<ul>
  <% @contacts.each do |contact| %>
  <!-- TODO: link to each's contacts requestUrl -->
  <li>
    <a href="/contact_info/<%= contact[:api_name] %>"><%= contact[:name] %></a>
  </li>
  <% end %>
</ul>


