<button><a href="/">Log Out</a></button>

<h2>Welcome Back, <%= session[:first_name] %> !</h2>
<button> View Your Contacts </button>


<h4>All Contacts: </h4>
<ul>
  <% @my_contacts.each do |c| %>
  <li> <%= c[@contact_f_name] %></li>
  <% end %>
</ul>


