<h2> Ready To Connect?</h2>

  <form method="GET" action="/login">
    <label>Name
      <input type="name" name="name">
    </label>
    <label>Password
      <input type="password" name="password">
    </label>
    <label>
      <input type="submit" name="Submit">
    </label>
    <a href="<%= @linkedin_auth_url %>"> Or, Login with Linkedin! </a>
  </form>

