<nav>

  <form method="GET" action="/home" class="user_login">
    <label>
      <input type="name" name="name" placeholder="username">
    </label>
    <label>
      <input type="password" name="password" placeholder="password">
    </label>
    <label>
      <input type="submit" name="Submit" class="submit">
    </label>
  </form>
  <!-- <div class="linkedin_login">
    <a href="<%= @linkedin_auth_url %>">Connect With LinkedIn</a>
  </div> -->
</nav>
<div class="wrapper">
  <span class="networkly">
   <h1> Network.ly</h1>
 </span>
  <span  class="description">
    <h2> make meaningful connections with your contacts</h2>
  </span>
</div>
