<nav>
  <ul>
    <li><h5>Network.ly</h5></li>
    <li><button><a href="/">Log Out</a></button></li>
  </ul>
</nav>

  <span class="which_template">
    <h2> Need Help Starting Your Email?</h2>
    <p>Choose from the following options for some helpful prompts:</p>
  </span>
    <select>
      <option value=1>I Need A Favor</option>
      <option value=2>I Need A Job</option>
      <option value=3>Just Saying Hi!</option>
    </select>

<div class="message_wrapper">
  <form method="get">
    <input type="textarea" name="subject" placeholder="subject" cols="20" rows="50" class="subject">
    <textarea name="body" cols="100" rows="20" class="message" placeholder="Write Your Message Here!"></textarea>
    <input type="submit" value="send">
  </form>
</div>

