<h2> What Do You Want To Say?</h2>
  <select>
    <option value=1>I Need A Favor</option>
    <option value=2>I Need A Job</option>
    <option value=3>Just Saying Hi!</option>
  </select>

<form method="get">
  <input type="textarea" name="subject" placeholder="subject" cols="20" rows="50">
  <input type="textarea" name="body" cols="30" rows="50" placeholder="Write Your Message Here!"/>
  <input type="submit" value="send">
</form>

