h1,h2, a{
  color:white;
  font-family: 'Old Standard TT', serif;


}

h1{
  font-size: 8em;
}

h2{
  font-size: 1.7em;
  letter-spacing: .4;
}

@media (max-width: 780px) {
  h1{
    font-size:6em;
  }
  h2{
    font-size:1.4em;
  }
 }
@media (max-width: 480px) {
  h1{
    font-size:5em;
  }
  h2{
    font-size:1.2em;
  }
 }

a{
  color:white;
  text-decoration: none;
}

nav{
  position: absolute;
  width: 100%;
  padding: 10px 0;
  height: 50px;
}
