body{
  background-image: url("../images/networkly_cover_photo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}



.user_login{
  position: absolute;;
  right: 10px;
}
.linkedin_login{
  position: absolute;;
  right: 10px;
  top:50px;

}
.submit{
  border-radius: 10px;
  padding:10px 15px;
  background-color:blue;
  color:white;
  border:none;
  cursor: pointer;
}
.submit:hover{
  background-color: white;
  color:blue;
}
.wrapper{
  position: relative;
  margin: 0 auto;
  top:30%;
  text-align: center;
}

.description{
  top:1em;
  position: relative;
}
