body{
  background-color: #FAFAFA;
}

h1, h2, h3, p, a{
 font-family: 'Old Standard TT', serif;
}


div, span{
  vertical-align: top;
}


/*NAV BAR*/

.nav{
  position:fixed;
}

.nav li{
  position:relative;
  display: inline-block;
  padding:1em;
}

.networkly{
  top:1%;
  left:1%;
}

.log_out{
  right:20%;
}

/*CONTAINER*/

.container{
  position: absolute;
  top:5%;
  width:95%;
}

.welcome{
  position: relative;
  text-align: center;
  margin-top:3%;
}

.welcome h1{
  font-size: 3em;
}

.quote{
  position:absolute;
  width:70%;
  left:15%;
  top:45%;
  line-height: 1.8em;
  text-align: center;
}

.quote h3{
  font-size: 1.2em;
  font-style: italic;
}


/*CONTACTS LIST*/

.contacts-list{
  position:relative;
  margin-top:-6%;
  left:10%;

}

.contacts-list li{
  padding: .5em;
  margin-top: 2px;
}

.view_button{
 box-shadow: 5px 5px 5px black;
 position: relative;
 margin-top:19%;
 left:9%;
 padding:.5em;
}

.search{
  position: relative;
  padding: 15px;
  left:105px;
  display: none;
}
#contact-search{
  position: relative;
  margin-top: -33px;
  left:260px;
  display: none;
}

.all-contacts{
  position: absolute;
  margin-top: 3%;
  width: 40%;
  height: 200%;
  overflow: hidden;
  overflow-y: scroll;
}

a{
  text-decoration: none;
  color:black;
}

li{
  list-style-type: none;
  display: none;
}


/*TRACKER STATS*/

.tracker_stats{
  position:relative;
  left:;
  margin-top:-2em;
  margin-left: 38%;
}


/*GITHUB*/

.github{
  left:20%;
  padding:2em;

}

.github img{
  position: absolute;
  width:4em;
  height:4em;
  left:3%;
}

/*DRIBBBLE*/

.dribbble{
  padding:2em;


}

.dribbble img{
  position: absolute;
  width:4em;
  height:4em;
  left:29%;
}


/*CONTACTS PAGE*/

/*MESSAGE PAGE*/

.message_wrapper{
  position: absolute;
  width:90%;
  top:5%;
}

.which_template{
  position: relative;
  margin-top:7%;
  left:55%;
}

.which_template h2{
  font-size: 2em;
}

.subject {
  position: absolute;
  top: 60%;
  left: 5%;
}

.message {
  position: relative;
  margin-top: 5%;
  left: 5%;
}

.send {
  position: absolute;
  top: 105%;
  left: 25%;
  height: 10%;
  width: 7%;
}
